<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Music Repository</title>
</head>
<body>
    <header>
        <h1>Music Repository</h1>
        <h3>by Elliot Clark and Aria Coalson</h3>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="album">Albums</a>
        <a href="artist">Add Artist</a>
        <a href="purchase">Purchase</a>
        <a href="customer">Add Customer</a>
        <a href="song">Add Song</a>
    </nav>

    <article>
        <p>
            In today's digital age, the music industry is increasingly moving online, with millions of consumers preferring to purchase and stream music via the internet. Our group project addresses the need for an efficient system to manage and sell music albums online for a distributor specializing in promoting smaller and upcoming artists who are not featured on large streaming platforms like Spotify. This distributor collaborates with around 300 emerging artists from various countries, offering a diverse catalog of approximately 3,000 songs across 300 albums. On average, the company will aim to process about 2,000 purchases per year.
            </br></br>
            This website is crucial for addressing inefficiencies in the music distribution market for smaller artists. According to recent statistics, over 80% of music consumers prefer online platforms for their music needs, yet independent artists often lack the resources to develop sophisticated databases or secure spots on major streaming services. Our system helps bridge this gap, offering a dedicated space for emerging talent to reach their audience.
            </br></br>
            Our database will manage comprehensive information on artists, including their names, countries, and websites, facilitating global collaboration and promotion. It will also store detailed records of individual songs, such as their titles and durations, and link them to their respective albums. Albums will be cataloged with essential details like titles, genres, release dates, and prices to help customers make informed purchasing decisions. Additionally, the database will track customer information, including emails and phone numbers, to streamline communication and support. By maintaining data integrity and providing easy access to information, our system will enhance the user experience and operational efficiency for both the distributor and its customers, giving a much-needed platform to smaller and upcoming artists.
        </p>
    </article>
</body>
</html>